@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html { scroll-behavior: smooth; }
body { text-rendering: optimizeLegibility; }
.text-slate-650 { color: rgb(71 85 105); }
